/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
/* header statr */
header {
  padding: 0px;
}
.menu ul li a{
  font-size: 18px;
  padding: 5px 0px 0px !important;
  text-align: right;
}
/* header end */
/* slider start */
.slider {
  background-color: #fcdb00;
  padding-bottom: 50px;
}
.s-text h1 {
  font-size: 25px;
}
.s-icon{
  text-align: center;
}
.s-icon i {
  font-size: 30px;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;  
  background-color: #fff;
}
/* slider end */
/* feature start */
.feature{
  padding-top: 30px ;
  padding-bottom: 50px ;
}
.c_h1 {
  font-size: 25px;
  font-weight: 700;
}
.c_p{
  font-size: 18px;
  line-height: 25px;
}
.f_item {
  margin-top: 30px;
}
.f_icon i{
  font-size: 35px;
  margin-top: 0;
}
.f_text{
  text-align: center;
}
.f_text h2{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px; 
}
/* feature end *
/* footer start */
footer{
  padding-top: 30px;
  padding-bottom: 30px;
}
.form button {
  background-color: #fcdb00;
  padding: 5px 10px;
  font-weight: 700;
}
.icon {
  font-size: 30px;
  margin: 30px;
}
.e-form {
  margin-top: -30px;
  margin-bottom: -20px;
}
}
/* feature end */
/* footer end */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
/* header statr */
.menu ul li a{
  font-size: 20px;
  padding: 5px 0px 0px !important;
  text-align: right;
}
/* header end */
/* slider start */
.s-text h1 {
  font-size: 25px;
}
.s-icon{
  text-align: center;
}
.s-icon i {
  font-size: 35px;
}
.carousel-indicators {
  bottom: -65px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;  
  background-color: #fff;
}
/* slider end */
/* feature start */
.feature{
  padding-top: 30px ;
  padding-bottom: 50px ;
}
.c_h1 {
  font-size: 25px;
  font-weight: 700;
}
.c_p{
  font-size: 18px;
  line-height: 25px;
}
.f_item {
  margin-top: 30px;
}
.f_icon i{
  font-size: 35px;
  margin-top: 0;
}
.f_text{
  text-align: center;
}
.f_text h2{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px; 
}
/* feature end */
/* footer start */
footer{
  padding-top: 50px;
  padding-bottom: 50px;
}
.e-form {
  margin-top: -20px;
  margin-bottom: -10px;
}
.form button {
  background-color: #fcdb00;
  padding: 5px 15px;
  font-weight: 700;
}
.icon {
  font-size: 35px;
  margin: 45px;
}
/* footer end */
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
 /* header statr */
.menu ul li a{
  padding: 5px 0px 0px !important;
  text-align: right;
}
/* header end */
/* feature statr */
.feature{
  padding-top: 80px ;
  padding-bottom: 100px ;
}
/* 2nd row start */
.f_item {
  margin-top: 50px;
}
/* 2nd row end */
/* feature end */
/* footer start */
.footer{
  background-color: #1a1b1c;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* footer end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 
  
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){


}
 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
 

}